<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include("blocks/header") -%>

    <div class="photo">
        <img src="/images/ofice.jpg">
        <img src="/images/company-2.jpg">
        <img src="/images/company-1.jpg">
    </div>

    <div class="about-container">
        <h1>About Us:</h1>
        <span>Welcome to our website - your personal space for storing and organizing notes online. We believe that ideas, thoughts and plans deserve a safe and convenient place where they are always at hand. Our service was created to help you structure your life, keeping all the important moments in one place.</span>

        <p>Our mission:</p>
        <span>Our mission is to provide you with a simple and intuitive tool for creating, storing and managing your notes. We strive to make your daily experience more productive and organized, allowing you to focus on what matters.</span>

        <p>What do we offer:</p>
        <ul>
            <li><b>Simplicity and convenience:</b> Our interface is designed taking into account the needs of users. Create, edit and delete notes in just a few clicks.</li>
            <li><b>Security:</b> We understand how important it is to maintain the confidentiality of personal information. Your notes are securely protected and accessible only to you.</li>
            <li><b>Organize:</b> Categorize your notes with tags and folders. Find the information you need quickly and easily.</li>
            <li><b>Sync:</b> All your notes are synced in real time. Work without restrictions and save all changes instantly.</li>
        </ul>

        <p>Why choose us?</p>
        <ul>
            <li><b>Intuitive Design:</b> Our platform is designed for users of all levels. You don't need to be a technical expert to start using our services.</li>
            <li><b>Reliability:</b> We use modern technologies to ensure smooth operation and protection of your data.</li>
            <li><b>User support:</b> Our team is always ready to help you. We value your feedback and are constantly working to improve our service.</li>
        </ul>

        <p>Join us</p>
        <span>Our site is the ideal place for those who value convenience, safety and efficiency. Whether you need notes for personal purposes, study or work, we are ready to provide the best solution for your needs.</span>

        <span>Get started today and experience all the benefits of taking notes online with us. Your ideas deserve the best!</span>
    </div>

    <%- include("blocks/footer")-%>
</body>
</html>