<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sendy</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("blocks/header") -%>

        <div class="block-1">
            <img src="/images/notebook.png" class="notebook">


            <div class="container">
                <p>Think. Write. Do.</p>
                <span>Write down your thoughts and express them</span>
                <a href="/notes"><button>Begin</button></a>
            </div>
        
            <img src="/images/decoration.png" class="decoration">
        </div>

        <div class="block-2">
            <h2>Why is this needed?</h2>

            <div class="container-block-2">
               <span>In the modern world, where every day is full of events and concerns, it is easy to lose sight of the important moments of your life. Journaling is a powerful tool that can help you preserve precious memories, understand yourself better, and achieve your goals. Let's look at why journaling about your day is so important and how it can change your life.</span>
            </div> 

            <img src="/images/goals.png">
        </div>

        <%- include("blocks/footer")-%>
</body>
</html>