<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="container-right">
            <h2>Contact with us:</h2>
            <p>sendly@mail.ru</p>
        </div>
        
        <div class="container-footer">
            <h2>We are:</h2>
            <p>Chisinau, Moldova Republic of</p>
            <p>Warsawa, Poland</p>
            <p>USA, Glendale Arizona</p>
        </div>
    </footer>
</body>
</html>