<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Main</a>
            <a href="/about">About Us</a>
            <a href="/notes">Notes</a>
        </div>

        <h1>Sendy</h1>
    </header>
</body>
</html>